@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000E09;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

input {
  padding: 12px;
  margin: 12px;
  box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
  width: 80%;
}

button {
  padding: 12px;
  margin: 12px;
  box-shadow: 0 1px 4px #ccc;
  width: 80%;
}

.custom-btn {
  background: transparent linear-gradient(180deg, hsla(129, 100%, 50%, 0.5) 0%, hsla(0, 0%, 0%, 1) 100%, hsla(129, 51%, 43%, 0.5) 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: normal;
  border: 2px solid hsla(87, 100%, 50%, 0.15);
  opacity: 1;
}

.error {
  background-color: tomato;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 18px;
}

